<div class="jumbotron">
  <h3>Welcome to the Forms Manager!</h3>
</div>

<div class="card">

    <!--Card image-->
    <img class="img-fluid" src="http://img.brothersoft.com/screenshots/softimage/a/agent_form_manager-223485-1238653070.jpeg" alt="Card image cap">

    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary waves-light" mdbWavesEffect>Button</a>
    </div>

</div>

<div class="d-flex flex-row">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="p-2">Flex item 1</div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
  </div>